/* You can add global styles to this file, and also import other style files */

.list{
    /*background-color:lightblue;
    border: solid darkgray;*/
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}

.postHearder{
    font-weight: 1000;
    padding: 10px;
    text-decoration: underline;
}

.postBody{
    padding: 10px;
    margin-top:34px; 
    text-align:left;
    background-color: lightgray;
    border-radius: 5px;
}

.postInfos{
    font-style: italic;
    font-weight: 600;    
    background-color: lightblue;
    text-decoration: none;
}

.postVotes{
    margin-top: 20px;
}